[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/timewarrior"]
	path = zsh/timewarrior
	url = https://github.com/svenXY/timewarrior.git
