[Unit]
Description=Launch Picom compositor with user config

[Service]
ExecStart=/usr/bin/picom --config %h/.config/picom.conf

[Install]
WantedBy=graphical.target
